<section class="section">
  <h2 class="main-title"><span class="title-font">Catlog</span><br class="df">〜猫との思い出を撮りためよう！〜</h2>
  <div class="box3">
    <div class="box-inner">
      <div class="">
        <br>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-warning btn-width" %>
        <br>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning btn-width" %>
      </div>
    </div>
  </div>
  <div class="main-img">
  <div>
</section>