@import "bootstrap";

img {
  width: 100%;
  object-fit: cover;
}

section {
  padding: 88px 0 120px 0;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
  font-family: "Lato", sans-serif;
}

.cat_form {
  width: 800px;
  max-width: 100%;
  padding: 60px;
}

.card-img {
  width: 374px;
  height: 397px;
}
