<section class="section">
  <div class="container ">
    <div class="row justify-content-center">
    <h2 class="section-title">新規にゃんこデータ作成</h2>
      <div class="regist_form">
        <%= render partial: "form", locals: { thing: @cat } %>
      </div>
    </div>
  </div>
</section>
